name: Publish to Gitlab Pages

on:
  push:
    branches:
    - main
    - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v2.2.0
      with:
        node-version: '14'
        cache: 'npm'
    - run: npm ci

    - run: npm run generate

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        PUBLISH_DIR: ./dist
